.App {
  margin: 0 10%;

}

.article-content a {
  color: blue; 
  text-decoration: underline; 
}

.article-content h2,h3,h4 {
  font-size: 3rem; 
  margin: 1rem 0; 
}

.article-content p {
  font-size: 1rem; 
  line-height: 1.5; 
}